h1 {
  /* text-align: center; */
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #075e54;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 div img {
  height: 1.5rem !important;
}

h1 button {
  font-size: 0.85rem !important;
}

@media (max-width: 700px) {
  h1 {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.75rem;
    position: relative;
  }

  h1 .welcome-msg {
    display: none;
  }
}
